# Entorno virtual

.env

# Archivos de Python
__pycache__/
*.pyc

# Archivos de base de datos SQLite (si usas local)
db.sqlite3

# Archivos estáticos generados
/staticfiles/
/media/

# Archivos de configuración de editor
.vscode/
.idea/
